<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">

  <title>SchoolFaces</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		 .row {
        	margin: 5px;
      	 }

         .family {
           width: 50%;
           height: 50%;
         }
	</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SchoolFaces</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
    	<ul class="nav navbar-nav">
    		<li><a href="/logout">Logout</a></li>
    	</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
          You
          <button type="button" class="btn btn-primary btn-xs">Parent</button>
        </div>  
    		<div class="col-sm-2 col-md-2">
                <img src="http://fng.hotcw.com/images/sil-male.png" 
                alt="" class="img-rounded img-responsive" />

        </div>
        <div class="col-sm-4 col-md-4">
                <blockquote>
                    <p><%= user.local.name %></p> 
                </blockquote>
                <p> 
                    <i class="glyphicon glyphicon-envelope"></i> <%= user.local.email %>
                    <br/> 
                    <i class="glyphicon glyphicon-phone"></i> +14155773411
                    <br/> 
                    <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com 
                </p>
        </div> 
        <div class="col-sm-4">
           <small><cite title="Source Title">CIS Deavila <i class="glyphicon glyphicon-map-marker"></i></cite></small>
           </br>
           <small><cite title="Source Title">Room 100 1st grade <i class="glyphicon glyphicon-map-marker"></i></cite></small>
        </div>  
  </div> <!-- end row-->
  <hr>
  <div class="col-sm-1">
    <button class="btn btn-xs">Add</button>
  </div> 

 

</div>  <!-- end container -->


</body>
</html>
